@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}
<html>
    <body>
        <div class="basicdiv">
            <h1 class="basiic">
                :D
            </h1>
        </div>
    </body>
</html>